@import '../../assets/variables';

.demo-chat-room-button {
  box-shadow: none !important;
  padding: 0.6375rem;
  cursor: pointer;

  &.btn-link {
    color: $primary-color !important;
    cursor: pointer;
  }
}

.btn-primary {
  color: $light-color !important;
  background-color: $primary-color !important;
  border: none;
  cursor: pointer;

  &:focus,
  &:active,
  &:disabled,
  &:hover {
    background-color: rgba($primary-color, 0.5) !important;
    outline: none;
  }
}
